.bg{
    background-image: url("./../../resources/img/black_paper.png");
    background-repeat: repeat;
    height: 100vh;
}

.operation-btn{
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    background-color: dodgerblue;
}

.uppercase{
    text-transform: uppercase;
}

// .pizza-name{
//     font-size: 16px;
//     color: blue;
// }

.ingredients-list{
    display: inline;
    list-style: none;

    li{
        display: inline;
    }

    li:after{
        content: ", ";
    }

    li:last-child:after{
        content: "";
    }
}


